langchain
python-dotenv
ipykernel
langchain-community
pypdf
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
beautifulsoup4
streamlit
langchain-groq
transformers
langchain-chroma
langchain-huggingface
sentence-transformers

